body {
    margin: 0px;
    padding: 0px;
}

.amazon-header {
    background-color: rgb(19, 25, 33);
    color: white;
    display: flex;
}

.amazon-logo {
    width: 100px;
}

.amazon-logo-mobile {
    display: none;
}